# Application
SPRING_PROFILES_ACTIVE=dev

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=DATABASE_NAME
DB_USERNAME=DATABASE_USERNAME
DB_PASSWORD=YOUR_PASSWORD

# JWT
JWT_SECRET=YOUR_SECRET

# ML Service
ML_SERVICE_URL=http://localhost:8000

# AWS
AWS_REGION=YOUR_REGION
AWS_S3_BUCKET=YOUR_S3_BUCKET_NAME

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000