# Application
SPRING_PROFILES_ACTIVE=dev

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=PaySheildAIDB
DB_USERNAME=root
DB_PASSWORD=mohini

# JWT
JWT_SECRET=change_this_to_a_secure_secret

# ML Service
ML_SERVICE_URL=http://localhost:8000

# AWS
AWS_REGION=ap-south-1
AWS_S3_BUCKET=payshield-ai

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000