# ==============================
# Java / Maven
# ==============================
target/
*.class
*.jar
*.war

# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iml
*.iws
*.ipr

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# ML artifacts
# ==============================
*.pkl
*.joblib
*.model
*.onnx

# ==============================
# Dataset
# ==============================
dataset/
data/raw/
data/processed/

# ==============================
# MLflow
# ==============================
mlruns/
mlartifacts/

# ==============================
# Logs
# ==============================
*.log
logs/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Docker
# ==============================
docker-data/

# ==============================
# Temporary files
# ==============================
*.tmp
*.temp

# Spring Boot
backend/target/